@import url(fonts.css);
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, select, footer {
  width: 100%;
  height: 100%;
  font-family: Lato;
  font-weight: 300;
}

section {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 64px;
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}
ul li {
  display: inline;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 44px;
  line-height: 52px;
  font-family: "Playfair Display";
}

h1, h2 {
  color: #fff;
}

h3 {
  font-family: PlayfairDisplay;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  color: #fff;
}

h3 span, h1 span, h2 span {
  font-family: PlayfairDisplay;
}

h4 {
  font-size: 24px;
  line-height: 48px;
  color: #FFFFFF;
}

span {
  color: #689FF2;
  font-style: italic;
}

.padding_top {
  padding-top: 120px;
}

.margin_bottom {
  margin-bottom: 120px;
}

.white {
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  font-style: italic;
  font-family: PlayfairDisplay;
}

button {
  text-decoration: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: #53F3CD;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Lato;
  letter-spacing: 0.08em;
}
button::before {
  content: "";
  width: 100%;
  height: 13px;
  background-color: #53F3CD;
  opacity: 0.3;
  position: absolute;
  top: 11px;
  left: 10px;
  z-index: -2;
  transition: 0.7s all ease;
}
button::after {
  content: "";
  width: 0;
  height: 13px;
  background-color: #689FF2;
  opacity: 0.3;
  position: absolute;
  top: 11px;
  left: -10px;
  z-index: -1;
  transition: 0.7s all ease;
}
button:hover {
  transition: 0.7s all ease;
  color: #3de48b;
}
button:hover::before {
  background-color: #3de48b;
}
button:focus {
  color: #a8c7f4;
}
button:focus::after {
  width: 100%;
  transform: translate(20%, 15%);
}
button:focus::before {
  transform: translate(20%, 15%);
  width: 0;
}

.pic img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: top;
}

.icon_hamburger {
  background-image: url(photos/Bitcoin.svg);
  background-size: 100%;
}

header {
  padding: 0 64px;
  width: 100%;
  height: 80px;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 30;
  top: 0;
}
header div {
  display: flex;
  align-items: center;
}
header div .main_menu {
  font-family: Lato;
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 0.7px;
}
header div .main_menu ul li {
  margin-right: 32px;
}
header div button {
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  margin-left: 8px;
}
header div button::before, header div button::after {
  display: none;
}
header div button .svg-moon {
  margin: auto;
  display: none;
}
header div button:focus .svg-sun {
  display: none;
}
header div button:focus .svg-moon {
  display: block;
}

body {
  background-image: url(photos/first-screen-image.png);
  background-size: 100%;
  background-color: #161926;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 28px;
  color: #CED0D3;
  font-size: 18px;
  line-height: 26px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile_menu {
  display: none;
}

.main-section {
  text-align: center;
  margin: 0;
}
.main-section div {
  padding: 158px 0;
  max-width: 566px;
  width: 100%;
  height: 100%;
}
.main-section div p {
  padding: 24px 0 44px;
}

.about_us {
  margin-top: 20px;
}
.about_us .pic_about-us {
  z-index: -2;
}
.about_us .content-block {
  max-width: 761px;
  width: 100%;
  max-height: 570px;
  height: 100%;
  display: flex;
  padding: 42px 4px 42px 61px;
  position: relative;
  top: -5px;
  margin-left: -250px;
  left: 75px;
  justify-content: space-between;
  background-color: rgba(22, 25, 38, 0.9);
}
.about_us .content-block .div_border {
  width: 82px;
  border: 1px solid #689FF2;
}
.about_us .content-block .content-block_left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.about_us .content-block .content-block_left p {
  padding: 12px 0 50px;
  color: #262A3F;
}
.about_us .content-block .content-block_left h2 {
  padding-top: 1px;
  font-size: 68px;
  line-height: 72px;
  font-family: PlayfairDisplay;
  font-weight: normal;
  color: #fff;
}
.about_us .content-block .content-block_left h2::before {
  content: "$";
  font-size: 40px;
  line-height: 40px;
}
.about_us .content-block .content-block_left .padding_h2 {
  padding-top: 42px;
}
.about_us .content-block .content-block_right {
  padding-top: 14px;
  max-width: 360px;
  height: 100%;
}
.about_us .content-block .content-block_right .text_padding {
  padding-bottom: 40px;
  padding-top: 30px;
}

.about-us_descr {
  flex-direction: column;
  margin-top: 20px;
}
.about-us_descr .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1086px;
  width: 100%;
  margin: 0 43px;
}
.about-us_descr .container .box_border-top {
  border-top: 1px solid #515773;
  max-width: 500px;
  width: 100%;
  height: 220px;
  padding-top: 32px;
}
.about-us_descr .container .box_border-top p {
  padding-top: 24px;
}
.about-us_descr .quote_about-us {
  margin-top: 30px;
  background-image: url(photos/quote-background.svg);
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 101px 0 101px 129px;
}
.about-us_descr .quote_about-us::before {
  content: "";
  background-image: url(photos/quote-icon.svg);
  width: 100px;
  height: 81px;
  position: absolute;
  top: 70px;
  left: 70px;
}
.about-us_descr .quote_about-us .text_wrapper {
  margin-bottom: 40px;
}
.about-us_descr .quote_about-us .text_wrapper p {
  font-family: Lato;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  color: #fff;
}

.video h3 {
  padding-top: 55px;
}
.video .text_video-section {
  padding-top: 20px;
}

.radio-container {
  font-size: 12px;
  padding: 10px 0 13px;
}
.radio-container div {
  display: flex;
  justify-content: space-between;
}
.radio-container div .radio {
  display: flex;
  align-items: center;
  justify-content: center;
}
.radio-container div .radio .margin-debug {
  margin-left: 5px;
}
.radio-container div .radio label {
  margin: 0 5px;
}
.radio-container div .radio input {
  color: #CED0D3;
  position: absolute;
  opacity: 0;
}
.radio-container div .radio input + .radio-label:before {
  content: "";
  background: #fff;
  border-radius: 100%;
  border: 4px solid #161926;
  outline: 3px solid #fff;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
  transition: all 250ms ease;
  opacity: 0;
  position: relative;
  right: 10px;
}
.radio-container div .radio input:checked + .radio-label:before {
  opacity: 1;
}
.radio-container div .radio input:focus + .radio-label {
  color: #fff;
}
.radio-container div .radio input:focus + .radio-label:before {
  opacity: 1;
}
.radio-container div .radio input:disabled + .radio-label:before {
  background: #3de48b;
}
.radio-container div .radio input + .radio-label:empty:before {
  margin-right: 0;
}

.section-trade .bg-image_trade {
  background-image: url(photos/features-background-image.svg);
  width: 100%;
  max-width: 566px;
  max-height: 566px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 104px 250px 105px 76px;
}
.section-trade .bg-image_trade .trade_container-exchange {
  background: #161926;
  padding: 23px 21px 16px 19px;
  height: 331px;
  width: 240px;
  font-family: Lato;
  font-weight: 700;
}
.section-trade .bg-image_trade .trade_container-exchange .border-bottom {
  width: 100%;
  border-bottom: 2px solid #2D303C;
}
.section-trade .bg-image_trade .trade_container-exchange .trade_coins {
  display: flex;
  align-items: center;
}
.section-trade .bg-image_trade .trade_container-exchange .trade_coins .arrow {
  margin: 0 16px;
}
.section-trade .bg-image_trade .trade_container-exchange .trade_coins .wrapper_coins {
  display: flex;
}
.section-trade .bg-image_trade .trade_container-exchange .trade_coins .wrapper_coins div {
  display: block;
  margin: 0;
}
.section-trade .bg-image_trade .trade_container-exchange .trade_coins .wrapper_coins .sell, .section-trade .bg-image_trade .trade_container-exchange .trade_coins .wrapper_coins .buy {
  position: relative;
  bottom: 2px;
  margin-right: 6px;
}
.section-trade .bg-image_trade .trade_container-exchange .rate, .section-trade .bg-image_trade .trade_container-exchange .sell-buy_window, .section-trade .bg-image_trade .trade_container-exchange .numbers_area {
  font-size: 12px;
  line-height: 24px;
  color: #CED0D3;
}
.section-trade .bg-image_trade .trade_container-exchange .rate {
  color: #5C5E67;
  padding: 13px 0;
}
.section-trade .bg-image_trade .trade_container-exchange .rate .rate-title {
  font-size: 20px;
  margin-left: 10px;
}
.section-trade .bg-image_trade .trade_container-exchange .rate span {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 24px;
  color: #CED0D3;
}
.section-trade .bg-image_trade .trade_container-exchange .sell-buy_window {
  display: flex;
  justify-content: space-between;
  color: #2D303C;
}
.section-trade .bg-image_trade .trade_container-exchange .sell-buy_window .receive-input {
  position: relative;
}
.section-trade .bg-image_trade .trade_container-exchange .sell-buy_window .receive-input::after {
  content: "";
  background-image: url(photos/Bitcoin.svg);
  background-image: url(photos/usdt.svg);
  width: 18px;
  height: 18px;
  position: absolute;
  top: 20%;
  left: 72%;
  opacity: 0.5;
}
.section-trade .bg-image_trade .trade_container-exchange .sell-buy_window .buy-input {
  position: relative;
}
.section-trade .bg-image_trade .trade_container-exchange .sell-buy_window .buy-input::after {
  content: "";
  background-image: url(photos/Bitcoin.svg);
  width: 18px;
  height: 18px;
  position: absolute;
  top: 19%;
  left: 72%;
  opacity: 0.5;
}
.section-trade .bg-image_trade .trade_container-exchange .sell-buy_window input {
  display: block;
  width: 94px;
  height: 28px;
  background-color: #2D303C;
  border: none;
  outline: 1px solid #2D303C;
  border-radius: 4px;
  padding: 2px 28px 2px 10px;
  font-size: 14px;
  color: #fff;
}
.section-trade .bg-image_trade .trade_container-exchange .numbers_area {
  color: #5C5E67;
  margin-top: 21px;
  margin-bottom: 16px;
}
.section-trade .bg-image_trade .trade_container-exchange .numbers_area input {
  background-color: #2D303C;
  opacity: 0.9;
  width: 51px;
  height: 17px;
  margin-right: auto;
  outline: 1px solid #2D303C;
  color: #fff;
  border: none;
  border-radius: 4px;
  position: relative;
  left: 70px;
}
.section-trade .bg-image_trade .trade_container-exchange .numbers_area .input-maker-fees {
  left: 86px;
}
.section-trade .trade_descr {
  width: 761px;
  height: 100%;
  max-height: 452px;
  margin-left: -245px;
  position: relative;
  bottom: -5px;
  left: 75px;
  padding: 72px 18px 72px 64px;
  display: flex;
  background-color: rgba(22, 25, 38, 0.9);
}
.section-trade .trade_descr .left-side_descr,
.section-trade .trade_descr .right-side_descr {
  display: flex;
  flex-direction: column;
}
.section-trade .trade_descr .left-side_descr {
  padding-right: 95px;
}
.section-trade .trade_descr .left-side_descr .margin-descr {
  margin-top: 66px;
}
.section-trade .trade_descr .descr p {
  padding-top: 10px;
}
.section-trade .trade_descr button {
  border: 1px solid #515773;
  width: 308px;
  height: 98px;
  margin-top: 101px;
}
.section-trade .trade_descr button::before, .section-trade .trade_descr button::after {
  content: "";
  top: 45px;
  left: 103px;
}
.section-trade .trade_descr button::before {
  width: 112px;
}
.section-trade .trade_descr button:hover {
  border: 1px solid #3de48b;
}
.section-trade .trade_descr button:focus {
  border: 1px solid #689FF2;
}
.section-trade .trade_descr button:focus::after {
  width: 102px;
  transform: translate(20%, 15%);
}
.section-trade .trade_descr button:focus::before {
  width: 0;
  transform: translate(20%, 15%);
}

.client-reviews_section {
  display: flex;
  flex-direction: row;
  padding-right: 0;
  overflow: hidden;
  align-items: baseline;
  margin-top: 20px;
  padding-bottom: 76px;
}
.client-reviews_section .client-reviews_descr {
  margin-right: 55px;
  padding-left: 2px;
  max-width: 328px;
  width: 100%;
}
.client-reviews_section .client-reviews_descr h3 {
  padding-bottom: 20px;
}
.client-reviews_section .client-reviews_descr .reviews_slider {
  display: flex;
  justify-content: space-between;
}
.client-reviews_section .client-reviews_descr .reviews_slider p span {
  font-size: 40px;
  line-height: 48px;
  font-family: PlayfairDisplay;
  margin-left: 5px;
}
.client-reviews_section .client-reviews_descr .arrow-clients_back,
.client-reviews_section .client-reviews_descr .arrow-clients_farther {
  margin: 0 15px;
}
.client-reviews_section .client-reviews_descr .arrow-clients_back::before, .client-reviews_section .client-reviews_descr .arrow-clients_back::after,
.client-reviews_section .client-reviews_descr .arrow-clients_farther::before,
.client-reviews_section .client-reviews_descr .arrow-clients_farther::after {
  display: none;
}
.client-reviews_section .client-reviews_descr .arrow-clients_back:focus .arrow-slider, .client-reviews_section .client-reviews_descr .arrow-clients_back:active .arrow-slider,
.client-reviews_section .client-reviews_descr .arrow-clients_farther:focus .arrow-slider,
.client-reviews_section .client-reviews_descr .arrow-clients_farther:active .arrow-slider {
  display: none;
}
.client-reviews_section .client-reviews_descr .arrow-clients_back:focus .active-arrow, .client-reviews_section .client-reviews_descr .arrow-clients_back:active .active-arrow,
.client-reviews_section .client-reviews_descr .arrow-clients_farther:focus .active-arrow,
.client-reviews_section .client-reviews_descr .arrow-clients_farther:active .active-arrow {
  display: block;
}
.client-reviews_section .client-reviews_descr .arrow-clients_back .active-arrow,
.client-reviews_section .client-reviews_descr .arrow-clients_farther .active-arrow {
  display: none;
  transform: rotateY(180deg);
}
.client-reviews_section .client-reviews_descr .arrow-clients_farther {
  transform: rotateY(180deg);
}
.client-reviews_section .client-reviews_block {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.client-reviews_section .client-reviews_block .client-reviews_content-first,
.client-reviews_section .client-reviews_block .client-reviews_content-second,
.client-reviews_section .client-reviews_block .client-reviews_content-third,
.client-reviews_section .client-reviews_block .client-reviews_content-last {
  padding: 48px;
  max-width: 468px;
  width: 100%;
  height: 333px;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Lato;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
.client-reviews_section .client-reviews_block .client-reviews_content-first p.white,
.client-reviews_section .client-reviews_block .client-reviews_content-second p.white,
.client-reviews_section .client-reviews_block .client-reviews_content-third p.white,
.client-reviews_section .client-reviews_block .client-reviews_content-last p.white {
  position: absolute;
  bottom: 48px;
}
.client-reviews_section .client-reviews_block .client-reviews_content-first .swiper-slide,
.client-reviews_section .client-reviews_block .client-reviews_content-second .swiper-slide,
.client-reviews_section .client-reviews_block .client-reviews_content-third .swiper-slide,
.client-reviews_section .client-reviews_block .client-reviews_content-last .swiper-slide {
  max-width: unset;
}
.client-reviews_section .client-reviews_block .client-reviews_content-first {
  background-image: url(photos/client-reviews.svg);
}
.client-reviews_section .client-reviews_block .client-reviews_content-second {
  background-image: url(photos/client-reviews-second.svg);
}
.client-reviews_section .client-reviews_block .client-reviews_content-third {
  background-image: url(photos/client-review-eric.svg);
}
.client-reviews_section .client-reviews_block .client-reviews_content-last {
  background-image: url(photos/client-review-last.svg);
}

.btn {
  cursor: pointer;
  transition: all 0.35s ease;
  overflow: hidden;
}

.btn:hover {
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.1);
}

.btn.dropdown-open + .outer-list {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.dropdown {
  position: relative;
  margin: 0 auto;
}
.dropdown .outer-list.left {
  justify-content: flex-start;
}
.dropdown .outer-list.bottom {
  align-items: flex-end;
  transform-origin: 50% 100%;
}
.dropdown .outer-list.right {
  justify-content: flex-end;
}
.dropdown .outer-list.top {
  align-items: flex-start;
  transform-origin: 50% 0;
}
.dropdown .outer-list {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease;
}
.dropdown .outer-list ul {
  list-style: none;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0.2em;
}
.dropdown .outer-list ul li {
  cursor: pointer;
  transition: background 0.35s ease;
}
.dropdown .outer-list ul li:hover {
  background: rgba(0, 0, 0, 0.07);
}

footer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}
footer div {
  border-top: 1px solid #515773;
}
footer .footer_content {
  display: flex;
  justify-content: space-between;
}
footer .footer_content .contact {
  border: none;
}
footer .footer_content .contact p {
  margin-top: 20px;
}
footer .footer_content .footer_form {
  display: flex;
  flex-direction: column;
  max-width: 468px;
  width: 100%;
}
footer .footer_content .footer_form input {
  width: 100%;
  height: 35px;
  margin-bottom: 45px;
  border: none;
  border-bottom: 1px solid #BBBCC1;
  background-color: #161926;
  text-decoration: none;
  color: #BBBCC1;
  font-family: PlayfairDisplay;
  opacity: 0.5;
  font-size: 18px;
  line-height: 20px;
  color: #BBBCC1;
}
footer .footer_content .footer_form input::-webkit-input-placeholder {
  font-style: italic;
}
footer .footer_content .footer_form input:-moz-placeholder {
  font-style: italic;
}
footer .footer_content .footer_form input::-moz-placeholder {
  font-style: italic;
}
footer .footer_content .footer_form input:-ms-input-placeholder {
  font-style: italic;
}
footer .footer_content .footer_form input:focus, footer .footer_content .footer_form input:active {
  border: none;
  outline: 1px solid #161926;
  border-bottom: #689FF2 1px solid;
  color: #689FF2;
}
footer .footer_content button {
  width: 175px;
}
footer .policy {
  display: flex;
  justify-content: space-between;
  padding: 23px 0;
  font-size: 14px;
}
footer .policy p {
  color: #BBBCC1;
}
footer .policy p span {
  margin-left: 12px;
}
footer .policy span {
  color: #fff;
  font-style: normal;
  font-family: Lato;
  line-height: 24px;
}
footer .policy div {
  width: 250px;
  display: flex;
  justify-content: space-between;
  border: none;
}

@media screen and (max-width: 1300px) {
  main {
    display: block;
  }

  .about_us {
    margin: 0;
  }

  .main-section {
    text-align: left;
  }

  .video {
    display: flex;
    justify-content: space-around;
  }

  .section-trade {
    margin: 0;
  }

  footer {
    width: 90%;
  }
}
@media screen and (max-width: 1200px) {
  .main-section {
    justify-content: center;
    text-align: center;
  }

  .section-trade {
    flex-wrap: wrap;
  }
  .section-trade .bg-image_trade {
    display: none;
  }
  .section-trade .trade_descr {
    margin-left: 0;
    position: static;
    margin: 0 auto;
    background: rgba(31, 33, 43, 0.2);
    border-radius: 5px;
  }

  .video {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  h3 {
    font-size: 32px;
  }

  .about-us_descr .container {
    justify-content: space-around;
  }
  .about-us_descr .container div {
    max-width: 320px;
  }

  .client-reviews_section {
    margin: 0;
    margin-top: 0px;
  }

  .about_us .pic_about-us {
    display: none;
  }
  .about_us .content-block {
    margin-left: 0;
    position: static;
    margin: 0 auto;
    background: rgba(31, 33, 43, 0.2);
    border-radius: 5px;
  }
}
@media screen and (max-width: 1030px) {
  body.lock {
    overflow: hidden;
    padding-top: 0;
  }

  .main_menu {
    display: none;
  }

  header div nav .hamburger.active {
    display: none;
    transition: 0s ease all;
  }

  .hamburger.active {
    position: relative;
    top: 28px;
    left: 89%;
  }
  .hamburger.active span {
    transition: 0s ease all;
    transform: scale(0);
  }
  .hamburger.active::before {
    transform: rotate(45deg);
    top: 9px;
    transition: 0.3s ease all;
  }
  .hamburger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: 0.3s ease all;
  }

  p {
    line-height: 20px;
    font-size: 16px;
  }

  .mobile_menu.active {
    top: 0;
  }

  .hamburger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 6;
    margin-right: 11px;
  }
  .hamburger::before, .hamburger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .hamburger::before {
    top: 0;
  }
  .hamburger::after {
    bottom: 0;
  }
  .hamburger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }

  .mobile_menu {
    position: fixed;
    display: block;
    top: -1000%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 31;
    transition: 0.3s ease all;
    text-align: center;
  }
  .mobile_menu ul {
    display: block;
  }
  .mobile_menu ul li {
    color: #CED0D3;
    margin: 50px 0;
    display: block;
    font-size: 42px;
  }
  .mobile_menu .logo_pic {
    position: relative;
    top: -61%;
    right: 38%;
    opacity: 0.8;
  }

  .about_us .content-block {
    justify-content: space-around;
    align-items: center;
    padding: 30px 4px 30px 51px;
  }
  .about_us .content-block .content-block_left p {
    color: #CED0D3;
    padding-left: 20px;
  }
  .about_us .content-block .content-block_left h2 {
    font-size: 38px;
    line-height: 48px;
  }

  .section-trade .trade_descr {
    padding: 25px;
    flex-direction: row;
    justify-content: space-around;
  }
  .section-trade .trade_descr .right-side_descr,
.section-trade .trade_descr .left-side_descr {
    align-items: center;
  }
  .section-trade .trade_descr .right-side_descr button {
    width: 100%;
    border: none;
    height: 42px;
    margin-left: -55px;
  }
  .section-trade .trade_descr .right-side_descr button::before, .section-trade .trade_descr .right-side_descr button::after {
    top: 54%;
    left: 25%;
  }
  .section-trade .trade_descr .left-side_descr {
    padding: 0;
  }

  p {
    line-height: 20px;
    font-size: 16px;
  }

  .client-reviews_section .client-reviews_descr {
    text-align: center;
  }

  .about-us_descr .container {
    flex-wrap: wrap;
  }
  .about-us_descr .container div {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
  }
  .about-us_descr .quote_about-us {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 60px 30px;
  }
  .about-us_descr .quote_about-us::before {
    left: 20%;
    top: 5%;
  }
  .about-us_descr .quote_about-us .text_wrapper p {
    font-size: 20px;
  }
  .about-us_descr .quote_about-us .text_wrapper .white {
    font-size: 16px;
    line-height: 20px;
  }

  footer .footer_content {
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
  }
  footer .footer_content .contact {
    padding-bottom: 30px;
  }
  footer .footer_content .footer_form {
    max-width: 300px;
    padding-left: 20px;
    align-items: center;
  }
  footer .policy {
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  footer .policy p {
    padding: 5px 0;
  }

  .client-reviews_section {
    flex-wrap: wrap;
    align-items: center;
  }
  .client-reviews_section .client-reviews_descr {
    margin: 0 auto 20px;
  }

  .padding_top {
    padding-top: 100px;
  }

  .margin_bottom {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 730px) {
  section, header {
    padding: 0 24px;
  }

  h3, h4 {
    font-size: 24px;
    line-height: 24px;
  }

  .main-section {
    margin: 0;
  }
  .main-section div {
    padding: 100px 0;
  }
  .main-section div h1 {
    font-size: 36px;
    line-height: 44px;
  }

  .quote_about-us::before {
    display: none;
  }

  .about_us .content-block {
    padding: 25px 0;
    max-width: 100%;
    max-height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
  }
  .about_us .content-block .content-block_left div .padding_h2, .about_us .content-block .content-block_left div h2 {
    padding: 0;
  }
  .about_us .content-block .content-block_left div p {
    padding: 10;
  }
  .about_us .content-block .content-block_left .div_border {
    display: none;
  }
  .about_us .content-block .content-block_right {
    padding: 0;
  }
  .about_us .content-block .content-block_right p {
    padding-left: 20px;
  }

  .section-trade .trade_descr {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    max-height: 100%;
    border-radius: 5px;
    flex-direction: column;
  }
  .section-trade .trade_descr .left-side_descr .margin-descr {
    margin: 0;
  }
  .section-trade .trade_descr .right-side_descr button {
    margin: 20px;
  }
  .section-trade .trade_descr .right-side_descr .descr,
.section-trade .trade_descr .left-side_descr .descr {
    margin-bottom: 25px;
  }

  .about-us_descr .container {
    flex-wrap: wrap;
  }
  .about-us_descr .container div {
    text-align: center;
    margin: 0;
  }
  .about-us_descr .quote_about-us {
    padding: 10 10px;
    height: 100%;
  }
  .about-us_descr .text_wrapper p {
    font-size: 20px;
    line-height: 32px;
  }
  .about-us_descr .text_wrapper .white {
    font-size: 16px;
    line-height: 20px;
  }

  footer .footer_content .footer_form {
    padding: 0;
  }

  .mobile_menu ul {
    margin-top: -15px;
  }
  .mobile_menu .logo_pic {
    top: 5%;
    right: 0%;
  }
}