$base_fz: 16;
$gold_color: #FFCC00;
$title_color: #666666;

@mixin fz($size_in_px){
    font-size:($size_in_px/$base_fz)+rem;
  }

@import 'reset';
@import 'fonts';


body {
    padding: 110px 390px 0;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    .header_title {
        color: #898F8F;
        @include fz (24);
        text-transform: uppercase;
        font-family: 'Raleway';
        line-height: 24px;
        padding-bottom: 15px;
    }
    .header_main-title {
        @include fz (60);
        line-height: 66px;
        font-family: 'Roboto';
        color: $gold_color;
        text-transform: uppercase;
        padding-bottom: 40px;
    }
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
            height: 0px;
            width: 210px;
            border: 1px solid $gold_color;
        }
        img {
            padding: 0 5px;
        }
    }
}

main {
    display: flex;
    position: relative;
    div {
        width: 560px;
        height: 0;
        border: 1px solid $gold_color;
        transform: rotate(90deg);
        position: absolute;
        left: 290px;
        top: 320px;
    }
}