@font-face {
    font-family: "Montserrat-Regular";
    src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "SourceSansPro-Regular";
    src: url(fonts/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url(fonts/OpenSans-Regular.ttf);
}

$textColor: #2C4058;

//==========Rules for all=================

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 53px;
    z-index: 15;
}

ul,li, a, button {
    list-style-type: none;
    text-decoration: none;
    background-color: none;
    border: none;
    color: white;
}

.subtitle, .title, h5 {
    text-transform: uppercase;
    font-family: "Montserrat-Bold", serif;
    color: $textColor;
    font-size: 44px;
    text-align: center;
}
.title {
    font-size: 80px;
    letter-spacing: 4px;
}
p {
    font-size: 18px;
    color: $textColor;
    font-family: "Montserrat-Regular", serif;
}

.button {
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    width: 190px;
    height: 50px;
    color: #2C4058;
    font-family: "Montserrat-Regular",serif;
    text-transform: uppercase;
    &:hover{
        border: 2px solid $textColor;
        
    }
}

.background {
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

.slick-arrow {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 100%;
    transition: ease all 1s;
    &:hover {
        outline: 1px solid white;
        &::after {
            transform: scale(1.5);
            transition: ease all 0.5s;
        }
    }
    &::after {
        content: "";
        background-image: url(photos/ArrowToScrollDown.svg);
        width: 10px;
        height: 17px;
        position: absolute;
        top: 30%;
        left: 36%;
    }
}

.slick-dots {
    display: flex;
    position: absolute; 
    gap: 33px;
    li {
        width: 10px;
        height: 10px;
        border: 1px solid white;
        background-color: transparent;
        border-radius: 100%;
        &:active, &:hover, &:focus {
            background-color: white;
        }
    }
}

//==========Header===========

header {
    width: 100%;
    height: 54px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid darken($color: transparent, $amount: 50%);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    .logo {
        margin-right: 144px;
    }
    nav {
        font-size: 14px;
        font-family: "SourceSansPro-Regular", serif;
        text-transform: uppercase;
        ul {
            display: flex;
            gap: 93px;
            li {
                position: relative;
                color: white;
                &::before{
                    content: '';
                    background-color: transparent;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 4px;
                    right: 70px;
                    border: 1px solid white;
                    border-radius: 100%;
                }
                &:hover {
                    &::before{
                        background-color: white;
                    }
                }
            }
        }
    }
    .socials {
        margin-left: 110px;
        ul {
            display: flex;
            gap: 20px;
            li {
                width: 40px;
                height: 40px;
                border-radius: 100%;
                border: 1px solid white;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 5px;
                &:hover {
                    transition: all ease 1s;
                    outline: 1px solid white;
                    cursor: pointer;
                }
            }
        }
    }
}

//==============Main page=================

main {
    position: relative;
    top: -107px;
    //===========Slider part============
    color: white;
    .mainScreenSlider{
        position: relative;
        .sliderItem {
            width: 100%;
            height: 800px;
            border: none;
            .bcgImg1, .bcgImg2, .bcgImg3, .bcgImg4, .bcgImg5 {
                width: 100%;
                height: 800px;
                display: flex;
                align-items: center;
                justify-content: center;
                .mainPageText {
                    color: white;
                    p {
                        color: white;
                        letter-spacing: 8px;
                        text-align: center;
                    }
                    h1 {
                        padding-bottom: 30px;
                        color: white;
                    }
                }
            }
            .bcgImg1 {
                background-image: url(photos/Buildings1.png);
            }
            .bcgImg2 {
                background-image: url(photos/Buildings2.png);
            }
            .bcgImg3 {
                background-image: url(photos/Buildings3.png);
            }
            .bcgImg4 {
                background-image: url(photos/Buildings4.png);
            }
            .bcgImg5 {
                background-image: url(photos/Buildings5.png);
            }
        }
        .slick-arrow {
            position: absolute;
            left: 49%;
            top: 90%;
        }
        .slick-dots {
            flex-direction: column;
            left: 97%;
            top: 45%;
        }
    }
}

//=============Tags for all section's============

.subtitlebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
        height: 0;
        width: 100px;
        border-top: 1px solid #2C4058;
        padding-bottom: 35px;
    }
}

.container{
    width: 100%;
    max-width: 100%;
}

//=================Section first(What we do)====================

.whatWeDoSection {
    .subtitlebox {
        padding-bottom: 146px;
    }
    .container {
        width: 85%;
        margin: 0 auto;
        display: flex;
        gap: 70px;
        align-items: center;
        position: relative;
        padding: 0;
        justify-content: flex-start;
        .picContainer {
            position: relative;
            max-width: 1600px;
            width: 100%;
            .imageInfo {
                display: block;
                width: 630px;
                height: 470px;
                -o-object-fit: cover;
                   object-fit: cover;
                z-index: 10;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                left: 0;
            }
            .backgroundInfo {
                width: 585px;
                height: 470px;
                z-index: 9;
            }
            .backgroundInfoBlue {
                background-color: #55B7FF;
            }
            .backgroundInfoPurple {
                background-color: #7E5AFF;
            }
        }
        .infoPart {
            display: flex;
            flex-direction: column;
            max-width: 490px;
            .subtitle {
                text-align: left;
                padding-bottom: 20px;
            }
            .previewInfoText {
                text-transform: uppercase;
                font-size: 22px;
                font-family: "OpenSans-Regular", serif;
            }
            .viewDetails {
                margin: 41px 0 60px;
            }
            .linkOnTheStreet {
                font-style: italic;
                color: black;
                font-family: "OpenSans-Regular", serif;
                font-size: 15px;
            }
        }
    }
    .reverseBlock {
        padding: 140px 0;
        flex-direction: row;
    }
}

//==============Second section (News with slider)=============

.newsSections{
    background-image: url(photos/BuildingsNews.png);
    height: 1035px;
    padding: 135px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .subtitlebox{
        padding-bottom: 89px;
        div{
            border-color: white;
        }
        h4 {
            color: white;
        }
    }
    .newsSlider {
        max-width: 1200px;
        width: 100%;
        .slick-track {
            display: flex;
            gap: 30px;
        }
        .slick-prev {
            left: -60px;
            transform: rotate(90deg)
        }
        .slick-next {
            left: 1247px;
            transform: rotate(270deg);
        }
        .slick-dots {
            top: 110%;
            left: 44%;
        }
        .sliderItem{
            background-color: white;
            max-width: 370px;
            width: 100%;
            max-height: 514px;
            height: 100%;
            .articleWrapper {
                padding: 30px 20px;
                .textWrapper {
                    h5 {
                        font-size: 22px;
                        text-align: start;
                    }
                    p {
                        padding-top: 15px;
                        font-family: "OpenSans-Regular", serif;
                    }
                }
                img{
                    border-radius: 100%;
                }
                .writerWrapper {
                    padding-top: 39px;
                    display: flex;
                    align-items: center;
                    div {
                        padding-left: 20px;
                        p {
                            text-transform: uppercase;
                            padding-bottom: 6px;
                        }
                        span {
                            font-size: 14px;
                            color: #55B7FF;
                        }
                    }
                }
            }
        }
    }
}

//==============Third section (Gallery)=============

.gallerySection {
    padding: 145px 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .container {
        display: grid;
        gap: 10px;
        padding: 90px 215px 60px;
        .firstItemGallery {
            grid-area: 1 / 1 / 4 / 2;
        }
        .secondItemGallery {
            grid-area: 1 / 2 / 2 /3;
        }
        .thirthItemGallery {
            grid-area: 3 / 4 / 1 /3 ;
        }
        .fourthItemGallery {
            grid-area: 2 / 2 / 2 / 3;
        }
        .fivethItemGallery {
            grid-area: 2 / 3 / 3 / 4;
        }
        a {
            img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                   object-fit: cover;
            }
        }
    }
}