@font-face {
    font-family: "Montserrat-Regular";
    src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "SourceSansPro-Regular";
    src: url(fonts/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon/icomoon.eot?8q9xb9');
    src:  url('fonts/icomoon/icomoon.eot?8q9xb9#iefix') format('embedded-opentype'),
      url('fonts/icomoon/icomoon.ttf?8q9xb9') format('truetype'),
      url('fonts/icomoon/icomoon.woff?8q9xb9') format('woff'),
      url('fonts/icomoon/icomoon.svg?8q9xb9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }


$textColor: #2C4058;
$iconsBCG: #7E5AFF;
$whitecolor: #fff;
$blackcolor: black;


//==========Rules for all=================

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, footer, header, section, main {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 50px;
}

section {
    padding: 145px 0;
}

ul,li, a, button {
    list-style-type: none;
    text-decoration: none;
    background-color: none;
    border: none;
    color: $whitecolor;
}

ul,li, a, .button, input, *::before, *:hover, *:active {
    transition: .3s all ease;
}

a {
    cursor: pointer;
}

.subtitle, .title, h5 {
    text-transform: uppercase;
    font-family: "Montserrat-Bold", serif;
    color: $textColor;
    font-size: 44px;
    text-align: center;
}
.title {
    font-size: 80px;
    letter-spacing: 4px;
}
p {
    font-size: 18px;
    color: $textColor;
    font-family: "Montserrat-Regular", serif;
}

.button {
    background-color: $whitecolor;
    border: 1px solid $blackcolor;
    cursor: pointer;
    width: 190px;
    height: 50px;
    color: $textColor;
    font-family: "Montserrat-Regular",serif;
    text-transform: uppercase;
    &:hover{
        border: 2px solid $textColor;
        color: $blackcolor;
        opacity: .7;
    }
    &:active {
        opacity: 1;
    }
}

.background {
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

.sliderItem {
    cursor: -webkit-grab;
    cursor: grab;
}

.slick-arrow {
    width: 40px;
    height: 40px;
    border: 1px solid $whitecolor;
    border-radius: 100%;
    transition: ease all 1s;
    &:hover {
        outline: 1px solid $whitecolor;
        &::after {
            transform: scale(1.5);
            transition: ease all 0.5s;
        }
    }
    &::after {
        content: "";
        background-image: url(photos/ArrowToScrollDown.svg);
        width: 10px;
        height: 17px;
        position: absolute;
        top: 30%;
        left: 36%;
    }
}

.slick-dots {
    display: flex;
    position: absolute; 
    gap: 33px;
    li {
        width: 10px;
        height: 10px;
        border: 1px solid $whitecolor;
        background-color: transparent;
        border-radius: 100%;
        &:active, &:hover, &:focus {
            background-color: $whitecolor;
        }
    }
}

//==========Header===========

.mobileMenu {
    display: none;
}

.darkBCG {
    background-color: rgb(0, 0, 0, .3);
    transition: .5s ease all;
}

header {
    height: 54px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    .logo {
        margin-right: 144px;
    }

    nav {
        font-size: 14px;
        font-family: "SourceSansPro-Regular", serif;
        text-transform: uppercase;
        ul {
            display: flex;
            gap: 93px;
            li {
                position: relative;
                color: $whitecolor;
                &::before{
                    content: '';
                    background-color: transparent;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 4px;
                    left: -15px;
                    border: 1px solid $whitecolor;
                    border-radius: 100%;
                }
                &:hover {
                    &::before{
                        background-color: $whitecolor;
                    }
                }
            }
        }
    }
}

.socials {
    margin-left: 110px;
    ul {
        display: flex;
        gap: 20px;
        li {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            border: 1px solid $whitecolor;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 5px;
            &:hover {
                transition: all ease 1s;
                outline: 1px solid $whitecolor;
                cursor: pointer;
            }
        }
    }
}

//==============Main page=================

main {
    position: relative;
    top: -104px;
    //===========Slider part============
    color: $whitecolor;
    .mainScreenSlider{
        position: relative;
        .sliderItem {
            width: 100%;
            height: 800px;
            border: none;
            .bcgImg1, .bcgImg2, .bcgImg3, .bcgImg4, .bcgImg5 {
                width: 100%;
                height: 800px;
                display: flex;
                align-items: center;
                justify-content: center;
                .mainPageText {
                    color: $whitecolor;
                    p {
                        color: $whitecolor;
                        letter-spacing: 8px;
                        text-align: center;
                    }
                    h1 {
                        padding-bottom: 30px;
                        color: $whitecolor;
                    }
                }
            }
            .bcgImg1 {
                background-image: url(photos/Buildings1.png);
            }
            .bcgImg2 {
                background-image: url(photos/Buildings2.png);
            }
            .bcgImg3 {
                background-image: url(photos/Buildings3.png);
            }
            .bcgImg4 {
                background-image: url(photos/Buildings4.png);
            }
            .bcgImg5 {
                background-image: url(photos/Buildings5.png);
            }
        }
        .slick-arrow {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: 90%;
        }
        .slick-dots {
            flex-direction: column;
            left: 97%;
            top: 45%;
        }
    }
}

//=============Tags for all section's============

.subtitlebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
        height: 0;
        width: 100px;
        border-top: 1px solid $textColor;
        padding-bottom: 35px;
    }
}

.container{
    width: 100%;
    max-width: 100%;
}

//=================Section first(What we do)====================

.whatWeDoSection {
    padding: 35px 0 140px;
    .subtitlebox {
        padding-bottom: 146px;
    }
    .container {
        display: flex;
        gap: 70px;
        align-items: center;
        position: relative;
        padding-left: 215px;
        .picContainer {
            position: relative;
            img {
                display: none;
            }
            .backgroundImgInfo {
                background-image: url(photos/BuildingsFuture.png);
                display: block;
                width: 630px;
                height: 470px;
                z-index: 10;
                position: relative;
            }
            .backgroundInfo {
                width: 585px;
                height: 470px;
                z-index: 9;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
            .backgroundInfoBlue {
                background-color: #55B7FF;
                top: -57px;
                left: -35%;
            }
            .backgroundInfoPurple {
                background-color: #7E5AFF;
                top: -57px;
                left: 41%;
                position: absolute;
            }
        }
        .infoPart {
            display: flex;
            flex-direction: column;
            max-width: 490px;
            .subtitle {
                text-align: left;
                padding-bottom: 20px;
            }
            .previewInfoText {
                text-transform: uppercase;
                font-size: 22px;
                font-family: "OpenSans-Regular", serif;
            }
            .viewDetails {
                margin: 41px 0 60px;
            }
            .linkOnTheStreet {
                font-style: italic;
                color: $blackcolor;
                font-family: "OpenSans-Regular", serif;
                font-size: 15px;
            }
        }
    }
    .reverseBlock {
        padding: 140px 215px 0 0;
        justify-content: end;
        flex-direction: row-reverse;
        .picContainer {
            .backgroundImgInfo {
                background-image: url(photos/BuildingsIndustrial.png);
            }
        }
    }
}

//==============Second section (News with slider)=============

.newsSections{
    background-image: url(photos/BuildingsNews.png);
    height: 1035px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .subtitlebox{
        padding-bottom: 89px;
        div{
            border-color: $whitecolor;
        }
        h4 {
            color: $whitecolor;
        }
    }
    .newsSlider {
        max-width: 1200px;
        width: 100%;
        .slick-prev {
            left: -58px;
            transform: rotate(90deg)
        }
        .slick-next {
            right: -75px;
            transform: rotate(270deg);
        }
        .slick-dots {
            position: static;
            justify-content: center;
            margin-top: 50px;
        }
        .sliderItem{
            background-color: $whitecolor;
            max-width: 370px;
            width: 100%;
            height: 515px;
            margin: 0 15px;
            .articleWrapper {
                padding: 30px 20px;
                position: relative;
                .textWrapper {
                    h5 {
                        font-size: 22px;
                        text-align: start;
                    }
                    p {
                        padding-top: 15px;
                        font-family: "OpenSans-Regular", serif;
                    }
                }
                img{
                    border-radius: 100%;
                }
                .writerWrapper {
                    display: flex;
                    align-items: center;
                    position: absolute; 
                    bottom: -80px;
                    div {
                        padding-left: 20px;
                        p {
                            text-transform: uppercase;
                            padding-bottom: 6px;
                        }
                        span {
                            font-size: 14px;
                            color: #55B7FF;
                        }
                    }
                }
            }
        }
    }
}

//==============Third section (Gallery)=============

.gallerySection {
    padding: 145px 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .subtitlebox {
        padding-bottom: 60px;
    }
    .container {
        display: grid;
        gap: 10px;
        .firstItemGallery {
            grid-area: 1 / 1 / 4 / 2;
        }
        .secondItemGallery {
            grid-area: 1 / 2 / 2 /3;
        }
        .thirthItemGallery {
            grid-area: 3 / 4 / 1 /3 ;
        }
        .fourthItemGallery {
            grid-area: 2 / 2 / 2 / 3;
        }
        .fivethItemGallery {
            grid-area: 2 / 3 / 3 / 4;
        }
        a {
            img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                   object-fit: cover;
            }
        }
    }
    .button {
        margin-top: 90px;
    }
}

//==============Map section====================

.mapSection {
    padding: 0;
    position: relative;
    .map {
        height: 700px;
        width: 100%;
    }
}

//=========Footer part==========================

footer {
    min-height: 550px;
    background-image: url(photos/footerBCG.png);
    .contacts {
        display: flex;
        flex-direction: column;
        width: 770px;
        height: 450px;
        padding: 60px;
        margin: 0 auto;
        position: relative;
        top: -325px;
        z-index: 666;
        background-image: url(photos/contactsBCG.png);
        .subtitlebox {
            padding: 0 0 42px 0;
        }
        .contactWrapper {
            display: flex;
            justify-content: space-between;
            font-family: "Montserrat-Regular",serif;
            font-size: 18px;
            .ourContacts {
                padding-left: 20px;
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    li {
                        color: $blackcolor;
                    }
                }
            }
            .userContacts {
                display: flex;
                flex-direction: column;
                gap: 30px;
                input {
                    font-family: "Montserrat-Regular",serif;
                    font-size: 18px;
                    width: 310px;
                    height: 41px;
                    outline: none;
                    border: none;
                    border-bottom: #4B5562 1px solid;
                    opacity: .5;
                    &:hover {
                        opacity: .7;
                    }
                    &:focus {
                        color: $blackcolor;
                        border-bottom: $blackcolor 1px solid;
                        opacity: 1;
                    }
                }
                .button {
                    position: relative;
                    left: 55%;
                    width: 140px;
                }
            }
        }
    }
    .socialsAndLogo {
        margin: -240px auto;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 720px;
        .ourContacts {
            display: none;
        }
        .logoPart {
            .copyrights {
                color: $whitecolor;
                font-family: "Montserrat-Regular",serif;
                font-size: 14px;
                margin-top: 40px;
            }
        }
    }
}

.userRequired, .infoForUser {
    margin: auto;
    text-align: center;
    font-family: "Montserrat-Regular",serif;
    h6 {
        font-size: 24px;
        color: $textColor;
        padding-bottom: 10px;
    }
    .text {
        color: #4B5562;
        font-size: 20px;
    }
    p {
        padding-top: 10px;
    }
}

//===============responsive====================

@media screen and (max-width: 1430px) {
    .whatWeDoSection{
        margin: 0 auto;
        padding-bottom: 0;
        .container {
            padding: 0 0 140px 0;
            .backgroundInfo {
                display: none;
            }
        }
    }
    .newsSections {
        .newsSlider {
            max-width: 800px;
        }
    }
}

//================add hamburger==================

@media screen and (max-width: 1260px) {
    header {
        justify-content: space-between;
        padding: 0 15px;
        .logo {
            margin: 0;
        }
        .hamburgerAndSocials {
            display: flex;
            align-items: center;
            .socials {
                display: none;
                margin: 0;
            }
        }
    }

    body.lock {
        overflow: hidden;
        padding-top: 0;
    }

    nav {
        display: none;
    }

    header nav .hamburger.active {
        display: none;
        transition: 0s ease all;
    }
    .hamburger.active {
        position: relative;
        span {
            transition: 0s ease all;
            transform: scale(0);
        }
        &::before {
            transform: rotate(45deg);
            top: 9px;
            transition: 0.3s ease all;

        }
        &::after {
            transform: rotate(-45deg);
            bottom: 9px;
            transition: 0.3s ease all;
        }
    }

    p {
        line-height: 20px;
        font-size: 16px;
    }

    .mobileMenu.active {
        left: 0;
        z-index: 777;
    }

    .hamburger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 6;
        margin-right: 11px;
        &::before, &::after {
            content: '';
            background-color: $whitecolor;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            position: absolute;
            background-color: $whitecolor;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
        }
    }

    .mobileMenu {
        font-family: "OpenSans-Regular", serif;
        position: fixed;
        display: block;
        left: -1000%;
        top: 0;    
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
        z-index: 31;
        transition: 0.3s ease all;
        .socials {
            display: block;
            margin: 0 0 0 15px ;
        }
        .anchorList {
            margin: 80px 0 0 15px;
            display: block;
            li {
                width: 60%;
                color: $textColor;
                margin: 50px 0;
                display: block;
                font-size: 42px;
                border-bottom: 1px solid $textColor;
            }
        }
    }
    
    .whatWeDoSection {
        .container {
            flex-direction: column;
            .picContainer {
                max-width: 630px;
                width: 100%;
                max-height: 470px;
                height: 100%;
            }
        }
    }
    .leaflet-control {
        top: -684px;
    }
}

@media screen and (max-width: 1000px) {
    main {
        .mainScreenSlider {
            .slick-dots {
                left: 95%;
            }
            .sliderItem {
                height: 570px;
                .bcgImg1, .bcgImg2, .bcgImg3, .bcgImg4, .bcgImg5 {
                    height: 570px;
                }
            }
        }
        .bcgImg1, .bcgImg2, .bcgImg3, .bcgImg4, .bcgImg5 {
            height: 600px;
        }
    }
    .title {
        font-size: 66px;
    }
    .subtitle {
        font-size: 38px;
    }
    
//===============sections=====================

    .newsSections {
        .newsSlider {
            max-width: 400px;
            .slick-dots {
                flex-wrap: wrap;
                width: 200px;
                margin: 40px auto;
            }
        }
    }

    .whatWeDoSection{
        margin: 0 auto;
        padding-bottom: 0;
        .container {
            padding: 0 0 140px 0;
            .backgroundInfo {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    body {
        padding: 0;
    }
    
    header {
        .logo {
            width: 80%;
        }
    }

    main {
        top: -54px;
        .slick-dots {
            left: 96%
        }
        .mainPageText {
            width: 80%;
            .title {
                font-size: 46px;
            }
        }
    }
//===============sections=====================
    .gallerySection {
        padding: 80px 0;
    }

    .whatWeDoSection {
        .subtitlebox {
            padding-bottom: 100px;
        }
        .container {
            .picContainer{
                .backgroundImgInfo {
                    display: none;
                }
                img {
                    display: block;
                    width: 80%;
                    max-width: 630px;
                    height: 80%;
                    margin: 0 auto;
                }
            }
            .infoPart {
                width: 80%;
            }
        }
    }
    .newsSections {
        .newsSlider {
            .sliderItem {
                .articleImg {
                    max-height: 200px;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

    footer {
        min-height: 550px;
        .contacts {
            padding: 60px 0;
            width: 100%;
            .contactWrapper {
                .userContacts {
                    margin: 0 auto;
                    .button {
                        margin: 0 auto;
                        left: 0;
                    }
                }
                .ourContacts {
                    display: none;
                }
            }
        }
        .socialsAndLogo {
            margin-top: -310px;
            display: flex;
            gap: 30px;
            align-items: center;
            flex-direction: column-reverse;
            text-align: center;
            .ourContacts {
                display: block;
                font-size: 18px;
                font-family: "OpenSans-Regular", serif;
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
            }
            .socials {
                margin: 0;
            }
        }
    }
}

//===========Icomoon and styles for icon-fonts==========

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-phone:before {
    content: "\e942";
  }
  .icon-envelop:before {
    content: "\e945";
  }
  .icon-location:before {
    content: "\e947";
  }
  .icon-clock:before {
    content: "\e94e";
  }

  .icomoonBCGColor {
    margin-right: 5px;
  }

  .contactWrapper {
    .ourContacts {
        .icomoonBCGColor {
            color: $iconsBCG;
        }
    }
  }