@font-face {
  font-family: "PoppinsBold";
  src: url(fonts/Poppins-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: url(fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "PoppinsMedium";
  src: url(fonts/Poppins-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "PoppinsRegular";
  src: url(fonts/Poppins-Regular.ttf);
  font-weight: 400;
}
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PoppinsRegular";
}

html, body {
  width: 100%;
  height: 100%;
}

h6 {
  font-size: 1rem;
  line-height: 1.6rem;
  color: #2F281E;
  font-family: "PoppinsBold";
}

h1 {
  font-size: 2.5rem;
  font-family: "PoppinsBold";
  line-height: 3.4rem;
  color: #2F281E;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header, main, footer {
  max-width: 1400px;
  width: 100%;
  padding: 0 145px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}
body header {
  display: flex;
  justify-content: space-between;
  height: 78px;
}
body header .logo-pic {
  max-width: 185px;
  width: 100%;
  max-height: 32px;
  height: 100%;
}
body header div {
  display: flex;
  align-items: center;
}
body header div nav {
  width: 350px;
  font-size: 0.9rem;
  line-height: 1.7rem;
  color: #2F281E;
  margin-right: 50px;
  font-family: "PoppinsRegular";
}
body header div nav ul {
  display: flex;
  justify-content: space-between;
}
body header div nav ul li {
  display: inline;
}
body header div button {
  width: 110px;
  height: 46px;
  transition: 0.6s;
}
body header div button:hover {
  background-color: #fff;
  border: 1px solid #BCD0E5;
  color: #173A56;
}
body header div .button_sign-in {
  margin-right: 14px;
}
body main section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main section .content-left {
  max-width: 460px;
  width: 100%;
}
body main section .content-left p {
  font-size: 1.1rem;
  font-family: "PoppinsRegular";
  line-height: 1.7rem;
  color: #544837;
  margin: 30px 0 45px;
}
body main section .content-left a {
  color: #FF9900;
  font-family: "PoppinsSemiBold";
  text-decoration: underline;
  position: relative;
}
body main section .content-left a::before {
  content: "";
  background-color: #FF9900;
  position: absolute;
  left: 0;
  border-width: 9px 0 9px 16px;
  display: inline-block;
  background-color: #FF9900;
}
body main section .content-left button {
  margin-right: 56px;
}
body main section .pic-main {
  max-width: 605px;
  max-height: 495px;
}
body footer button {
  font-size: 1rem;
  font-family: "PoppinsBold";
  line-height: 1.5rem;
  color: white;
}

.button {
  background-color: #FF9900;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: "PoppinsBold";
  line-height: 1.5rem;
  color: #fff;
}

.button_sign-in,
.button_sign-up {
  font-family: "PoppinsSemiBold";
}

.button_get-stareted {
  width: 175px;
  height: 53px;
}

.pic {
  width: 100%;
}
.pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}