.leftgrayblock {
  min-height: 100%;
  width: 28%;
  background-color: rgb(246, 248, 246);
  margin: 5px;
  height: 80%;
}

.container {
  position: relative;
  height: 930px;
  width: 100%;
}

.myresume {
  position: absolute;
  width: 50%;
  min-height: 100%;
  left: 35%;
  margin-left: 50px;
}

.boximage {
  position: relative;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  top: 15px;
}

.itsme {
  border-radius: 200px;
  width: 100%;
  height: 100%;
}

.spanwithmyname {
  width: 395px;
  height: 50px;
  margin: 15px auto 0px;
}

.myname {
  font-size: 40px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(105, 105, 105);
}

.contacts {
  height: 24px;
  width: 400px;
  margin: 0 auto;
}

.instagram,
.telegram,
.gmail {
  margin: 0px 30px;
  font-size: 18px;
}

.aboutmespan,
.edu,
.expwork,
.myskills {
  font-weight: bold;
  font-size: 20px;
  margin: 15px;
}

.aboutme,
.myeducation,
.workexp,
.myskillsandknowledge,
.gerSkills,
.engSkills,
.learnabilitySkills,
.commuSkills,
.stressresistanceSkills,
.creativitySkills {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px 0px;
  color: rgb(126, 126, 123);
  line-height: 20px;
}

.german,
.english,
.communication,
.learnability,
.stressresistance,
.creativity {
  height: 10px;
  width: 350px;
  background-color: rgb(243, 231, 231);
  border-radius: 5px;
}

.germanYELLOW,
.englishYELLOW,
.communicationYELLOW,
.learnabilityYELLOW,
.stressresistanceYELLOW,
.creativityYELLOW {
  height: 10px;
  width: 250px;
  background-color: rgb(187, 231, 27);
  border-radius: 5px;
}

.english {
  position: relative;
  left: 600px;
  top: 40px;
}

.englishYELLOW {
  position: relative;
  left: 600px;
  top: -20px;
  width: 140px;
}

.german {
  position: relative;
  top: 50px;
}

.germanYELLOW {
  position: relative;
  top: -10px;
  width: 180px;
}

.learnability {
  position: relative;
  top: 100px;
  left: 600px;
}

.learnabilityYELLOW {
  position: relative;
  top: 40px;
  left: 600px;
  width: 290px;
}

.communication {
  position: relative;
  top: 90px;
}

.communicationYELLOW {
  position: relative;
  top: 30px;
  width: 265px;
}

.stressresistance {
  position: relative;
  top: 150px;
  left: 600px;
}

.stressresistanceYELLOW {
  position: relative;
  top: 90px;
  left: 600px;
  width: 310px;
}

.creativity {
  position: relative;
  top: 140px;
}

.creativityYELLOW {
  position: relative;
  top: 80px;
  width: 280px;
}

.gerSkills,
.engSkills,
.learnabilitySkills,
.commuSkills,
.stressresistanceSkills,
.creativitySkills {
  position: relative;
  top: -30px;
}

.myskillsandknowledge {
  min-height: 300px;
}
