.top-panel {
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 00;
    text-align: center;
    z-index: 1000;
    color: #fff;
    font-weight: 600;
    width: 100%;
    &.panel-error {
        background-color: tomato;
    }
    &.panel-success {
        background-color: green;
    }
    &.panel-info {
        background-color: lightblue;
        color: #232323;
    }
}   