$input_gray: #E4E4E4;
$text_color: #545454;
$active_color: #007BFF;

@font-face {
    font-family:'Inter', sans-serif;
    src: url(/assets/Fonts/Inter-Regular.ttf);
}


*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Inter', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}


a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

main {
    background-color: #F7F7F7;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    line-height: 1.5rem;
    height: 1236px;
    width: 1210px;
    margin: auto;
    section{
        height: 590px;
        max-width: 540px;
        width: 100%;
        border-radius: 6px;
        background-color: white;
        padding: 20px;
        form {
            display: flex;
            flex-direction: column;
            color: $text_color;
            .form_name, .form_number {
                display: flex;
                justify-content: space-between;
            }

            .account_title {
                display: flex;
                align-content: center;
                p {
                    position: relative;
                    right: 170px;
                    top: 39px;
                }
                img {
                    padding-right: 20px;
                }
                button {
                    width: 30px;
                    height: 30px;
                    background-color: #FFFFFF;
                    position: relative;
                    border: 1px solid $input_gray;
                    margin-left: 10px;
                    margin-top: 0px;
                    &::before {
                        content: '';
                        background-image: url(./Photos/trash-box.png);
                        position: absolute;
                        width: 10px;
                        height: 12px;
                        left: 9px;
                        bottom: 8px;
                    }
                }
                label {
                    height: 30px;
                    max-width: 130px;
                    width: 100%;
                    border: 1px solid $input_gray;
                    background-color: #FFFFFF;
                    border-radius: 6px;
                    position: relative;
                    &:before {
                        content: '';
                        background-image: url(./Photos/photo-icon.png);
                        position: absolute;
                        width: 14px;
                        height: 12px;
                        left: 105px;
                        top: 8px;
                    }
                    input {
                        opacity: 0;
                    }
                }
           }
            .form_region {
                display: flex;
                justify-content: space-between;
                div {
                    padding: 0px;
                    max-width: 245px;
                    width: 100%;
                    .select_country {
                        position: relative;
                        &::before {
                            content: '';
                            position: absolute;
                            background-image: url(./Photos/Arrow_Double.png);
                            width: 18px;
                            height: 18px;
                            top: 41px;
                            left: 226px;
                            background-color: #fff;
                        }
                    }
                }
            }
            h1 {
                color: #1C1C1C;
                padding: 5px 0px 10px;
            }                
        }
    }
}

input[type=radio] {
    opacity: 0;       
    width: 20px;
    height: 20px;
}

.form_radio {
    display: flex;
    input[type=radio]+label {
        display: inline-block;
        position: relative;
        &::before {
            content: '';
            display: block;
            border-radius: 50%;
            background-color: white;
            border: 1px solid $input_gray;
            width: 20px;
            height: 20px;
            position: absolute;
            left: -25px;
            top: 0px;
            z-index: 2;
            
        }
        &::after{
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            background-color: white;
            border: 6px solid $active_color;
            border-radius: 50%;
            position: absolute;
            z-index: 1;
            top: 0px;
            left: -25px;
            opacity: 1;
        }
    }
}

input[type=radio]:checked+label::after {
    opacity: 1;
    z-index: 3;
}

label {
    display: block;
}

input[type=text], input[type=email], input[type=number], input[type=file], button, select {
    background-color: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    width: 100%;
    height: 38px;
    margin-top: 7px;
}

input, select, button {
    &:hover, &:focus, &:active {
        outline: 1px solid $active_color;
    }
}

.input_small {
    max-width: 245px;
    width: 100%;
}

.input_small-margin {
    margin-right: 10px;
}


.text_small {
    color: #969696;
    font-size: 13px;
}

.account_button {
    width: 100%;
    max-width: 130px;
}


.radio_male-margin {
    margin-left: 5px;
}

.radio_female-margin {
    margin-left: 28px;
}


div {
    padding: 10px 0;
}

button {
    background-color: $active_color;
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
}

footer {
    div {
        margin-bottom: 20px;
        padding: 0;
        width: 100%;
        height: 1px;
        background-color: $input_gray;
    }
}

p {
    text-align: center;
    a {
        color: $active_color;
    }
}
